/*********************************************
 * weatherdescription
 *********************************************/
.weeromschrijving {
  position: absolute;
  color: aqua;
  z-index: 99;
  width: 100%;
  font-family: 'tomfont';
  color: white;
  margin-top: 70px; }
  .weeromschrijving .omschrijving {
    font-size: 18px; }
  .weeromschrijving .temperatuur {
    font-size: 36px;
    line-height: 32px; }
  @media (min-width: 360px) {
    .weeromschrijving {
      margin-top: 80px; } }
  @media (min-width: 480px) {
    .weeromschrijving {
      text-align: center;
      margin: 88px auto; }
      .weeromschrijving p {
        display: inline-block;
        margin: 0; }
      .weeromschrijving .omschrijving {
        font-size: 30px;
        margin-right: 28px; }
        .weeromschrijving .omschrijving:after {
          content: '';
          position: absolute;
          background: #72b6b7;
          width: 6px;
          height: 6px;
          border-radius: 12px;
          margin: 16px 8px 0 16px; }
      .weeromschrijving .temperatuur {
        font-size: 30px; } }

/*********************************************
 * searchform
 *********************************************/
.searchform {
  overflow: hidden;
  position: absolute;
  color: aqua;
  z-index: 999999;
  width: 100%; }
  .searchform .zoekform {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 0 20px; }
    .searchform .zoekform .clearbutton {
      width: 32px;
      height: 32px;
      position: relative;
      position: absolute;
      margin: auto;
      display: inline;
      background: lightgrey;
      border-radius: 16px;
      border: none;
      margin: 8px;
      top: 0;
      right: 24px;
      z-index: 99999; }
      .searchform .zoekform .clearbutton:hover {
        background-color: #ababab; }
      .searchform .zoekform .clearbutton:focus {
        outline: none; }
      .searchform .zoekform .clearbutton__hide {
        display: none; }
      .searchform .zoekform .clearbutton__show {
        display: inline; }
      .searchform .zoekform .clearbutton__svg {
        width: 12px;
        margin-top: 1px; }
      @media (min-width: 480px) {
        .searchform .zoekform .clearbutton {
          top: auto;
          right: auto;
          margin-left: -44px;
          z-index: 99999; } }
    @media (min-width: 360px) {
      .searchform .zoekform {
        margin-top: 30px; } }
  .searchform #formCity {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 16px;
    border: 1px solid #fff;
    border-radius: 24px;
    box-shadow: none !important;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); }
    .searchform #formCity:focus {
      outline: none; }
    @media (min-width: 480px) {
      .searchform #formCity {
        max-width: 355px; } }

/*********************************************
 * searchpage
 *********************************************/
.searchpage {
  display: none;
  overflow: hidden;
  position: absolute;
  color: aqua;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: #1a2326;
  -webkit-transition: background-color 550ms ease-out;
  transition: background-color 550ms ease-out; }
  .searchpage__hide {
    display: none; }
  .searchpage__show {
    display: block;
    -webkit-transition: background-color 550ms ease-out;
    transition: background-color 550ms ease-out;
    background: pink; }
  .searchpage .submitbutton {
    top: 300px;
    margin: 300px auto; }

/*********************************************
 * Tom de weerbeer scss
 *********************************************/
@font-face {
  font-family: "tomfont";
  src: url("../fonts/Cof.ttf") format("opentype"); }
body {
  background: #1a2326;
  margin: 0;
  font-family: monospace;
  font-size: 18px; }

p {
  margin: 6px 24px; }

#sketch {
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 1; }

.errorpage {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #1a2326;
  z-index: 9999999;
  font-family: 'tomfont';
  font-size: 24px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .errorpage__inner {
    padding: 36px;
    text-align: center;
    margin: auto;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg); }
    .errorpage__inner button {
      font-family: 'tomfont';
      font-size: 16px;
      margin: 24px 0;
      width: 80%;
      max-width: 360px;
      height: 44px;
      border-radius: 24px;
      border: none;
      background-color: #eaa700;
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg); }
      .errorpage__inner button:focus {
        outline: none; }
