$background-color: rgb(26,35,38);
$trans-time: 150ms;

/*********************************************
 * searchpage
 *********************************************/
@keyframes slide {
  0% {opacity: 0;}
  100% {opacity: 100%;}
}

@keyframes reverseslide {
  0% {opacity: 100%;}
  100% {opacity: 0;}
}    

.searchpage {
    display: none;
    overflow: hidden;
    position: absolute;
    color: aqua;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    
    &__transout {
        display: block;
        animation: reverseslide $trans-time ease-in-out;
    }

    &__show {
        display: block;
        animation: slide $trans-time ease-in-out;
    }
    
    .submitbutton {
        top: 300px;
        margin: 300px auto;
    }
}