/*********************************************
 * Boilerplate scss
 *********************************************/

body {
	background: #fff;
	margin: 0;
	font-family: monospace;
	font-size: 18px;
}
p {
	margin: 6px 24px;
}
#sketch {
    top: 0;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}
.container {
    overflow: hidden;
    position: absolute;
    color: aqua;
    z-index: 99999;
    width: 100%;

    .zoekform {
        position: relative;
        text-align: center;
    //    left: 50%;
        margin: auto;
        margin-top: 80px;
    }
    #button {
//        z-index: 999999;
    }
    #cityfield {
        width: 200px;
        height: 32px;
        border-radius: 4px;
    }
}
