/*********************************************
 * Boilerplate scss
 *********************************************/

body {
	background: rgb(26,35,38);
	margin: 0;
	font-family: monospace;
	font-size: 18px;
}
p {
	margin: 6px 24px;
}
#sketch {
    top: 0;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}
.container {
    overflow: hidden;
    position: absolute;
    color: aqua;
    z-index: 99999;
    width: 100%;

    .zoekform {
        position: relative;
        text-align: center;
    //    left: 50%;
        margin: auto;
        margin-top: 48px;
    }
    #button {
//        z-index: 999999;
    }
    #formCity {
        box-sizing: border-box;
        width: 200px;
        height: 48px;
        border-radius: 4px;
        border: 1px solid #fff;
        padding-left: 12px;
//        padding-top: -30px;
        font-size: 20px;
        line-height: 16px;
    }
}
